wandb
huggingface_hub
ipykernel
torch
transformers==4.51.3
transformer-lens
accelerate
plotly
scikit-learn
circuitsvis
matplotlib
nbformat
sae-lens
goodfire
peft==0.14.0
vllm==0.8.5
unsloth
tqdm
wandb
fire
seaborn
google
pandas
dictionary-learning
h5py
flask